.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(284 1fr);
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 50px;
  margin-bottom: 79px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(300 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(352 1fr);
    column-gap: 16px;
    row-gap: 45px;
    margin-bottom: 76px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: minmax(288 1fr);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
    margin-bottom: 50px;
  }
}
